body {
  margin-top: 20px;
}

.row {
  margin-top: 40px;
}

#pub p {
  margin-bottom: 1%;
}

#pub h5 {
  margin-top: 4%;
}

#tail div {
  text-align: center;
}

.split{
  background-image: linear-gradient(to right, #307Df6, white, white);
  border: 0;
  height: 2px;
  margin-bottom: 10px
}
